@mixin flex-property($direction, $justify, $align, $w) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    width: $w;
}

.part_1 {
    @include flex-property(row, flex-end, center, 100%);
    .news_related {
        @include flex-property(column, flex-start, flex-start, 25%);
        ul li {
            @include flex-property(row, flex-start, flex-start, 100%);
            list-style-type: none;
            img {
                width: 100px;
                margin-left: 10px;
            }
        }
        h5 {
            margin-bottom: 0%;
        }
        .border {
            margin-top: 0%;
        }
    }
    .new_header {
        @include flex-property(column, flex-end, flex-end, 75%);
    }
}